img{
    width: 40px;
}

.menu{
    display: flex;
    background-color: rgb(218, 246, 255);
}
.item{
    display: flex;
    list-style: none;
}

a{
    color: black;
    text-decoration-line:none;
}
a:hover{
    color:aquamarine;
}

li{
    margin-right:40px;
}