body {
    margin: 0px;
}

.top {
    padding: 25px;
    font-size: 25px;
    font-weight: 800;
    color: #000000;
}

.box {
    background-color:#ff7710;
    width: 100%;
}

.inbox {
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    justify-content: left;
    font-size: 25px;
    font-weight: 600;
}

.inbx1 {
    font-size: 40px;
    font-weight: 500;
}

.inbx2 {
    font-size: 60px;
    font-weight: 800;
}

.cfm {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.qna {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qqq {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    margin: 15px;
}

.aaa {
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    margin: 15px;
    padding-bottom: 10px;
}

.ms {
    width: 250px;
    padding-top: 25px;
}

.cont {
    padding: 50px;
    display: flex;
    justify-content: space-around;

}

.foot {
    margin-top: 0px;
    padding: 20px 0;
    background-color: #e9ecef;
    color: #000000;
    font-weight: 400;
    padding-left: 20px;
}

.prsn {
    width: 1250px;
    margin: auto;
}

.song {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

.sos {
    width: 250px;
    border-radius: 15%;
}

.music {
    font-size: 60;
    font-weight:600;
    margin: 10px;
}

.songg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.song1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 250ms;
}

.song1:hover {
    transform: translateY(-10px);
}